.RollDice{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  }

.RollDice-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  }

.RollDice-prevContainer{
  display: flex;
  border-top: 2px dotted rebeccapurple;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  }

  .RollDice button{
  width:15em;
  padding:1.5em;
  border: 0px;
  border-radius: 10px;
  color:white;
  background-color:black;
  margin-top: 3em;
  align-self: center;
  }

  .RollDice button:hover{
  cursor: pointer;
  }

  .RollDice-rolling{
  border: 0px;
  border-radius: 10px;
  background-color:cyan !important;
  opacity:0.7
  }
